.bestSeller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
  width: 85vw;
  margin: auto;
}

.bestSeller-category {
  display: flex;
  align-items: center;
}

.bestSeller-category span {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #20655f;
  font-weight: 300;
  font-size: 1.5rem;
}

.bestSeller h1 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
  color: #20655f;
  font-family: "Young Serif";
  display: inline;
}

.bestSeller hr {
  width: 5rem;
  height: 2px;
  border-radius: 10px;
  background-color: #20655f;
}

.bestSeller-items-container {
  overflow: hidden;
}

.bestSeller-items {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  margin: 2rem;
}

.bestSeller-item {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.bestSeller-all-btn-container {
  margin-left: auto; /* Push the button to the right end */
  margin-top: -4rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  right: 0;
}

.bestSeller-all-btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #888;
  cursor: pointer;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 8rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3;
}

.bestSeller-all-btn:hover {
  background-color: #f8aa27;
  opacity: 80%;
  transition: 0.3;
}
