.banner {
  width: 85vw;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
}

.banner-img {
  height: auto;
  width: 85vw;
  z-index: 0;
  margin: auto;
}

.banner-text-box {
  display: block;
  position: absolute;
  padding: 8rem;
  z-index: 1;
  width: 40%;
  margin-top: 4rem;
}

.banner-title {
  font-size: 3rem;
  color: white;
  font-family: "Young Serif";
}

.banner-subtitle {
  font-size: 2rem;
  color: white;
}

.banner-btn {
  color: white;
  font-size: 1rem;
  background-color: #f8aa27;
  display: inline;
  border: none;
  border-radius: 0.5rem;
  width: 15rem;
  height: 3rem;
  cursor: pointer;
  text-decoration: none;
}

.blabla {
  text-decoration: none;
}
